<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.search.mapper.SearchItemMapper">
    <select id="getItemList" resultType="com.taotao.common.pojo.SearchItem" >
    # TODO: 下午 10:50 未完成查询sql语句。
      select * from tb_item a
    </select>
</mapper>